<header id="header">
  <div id="brand">
    <p>KUNISADA SHINYA</p>
    <p>Web Designer</p>
  </div>
  <nav id="header-nav">
    <ul>
      <li><%= link_to "TOP", "#{config[:root]}/" %></li>
      <li><%= link_to "ABOUT", "#{config[:root]}/contents/about/" %></li>
      <li><%= link_to "GALLERY", "#{config[:root]}/contents/gallery/" %></li>
      <li><%= link_to "BLOG", "http://wbdsgn.hatenablog.com/", target: "_brank" %></li>
      <li><%= link_to "CONTACT", "#{config[:root]}/contents/contact/" %></li>
    </ul>
  </nav>
  <div id="menu-btn">
    <span></span>
    <span></span>
    <span></span>
  </div>
</header>
